.header {
    width: 100%;
    box-sizing: border-box;
    padding:0 24px 0 8px;
    margin-left: 3px;
}

.header .mainNavContent .logo {
    position: relative;
    top: 4px;
    margin-left: -1px;
}

.header .mainNavContent nav {
    margin-top: 0;
}

.header .mainNavContent nav ul {
    display: flex;
    position: relative;
    top: -3px;
}

.header .mainNavContent nav a.active {
    color: #3897ff;
}

.headerRight {
    float: right;
    display: flex;
    align-items: center;
    height: inherit;
}

.headerRight a.header__button {
    text-decoration: none;
    color: inherit;
    border: solid 1px rgba(144, 149, 153, 0.35);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.24;
    letter-spacing: -.75px;
    transition: .4s;
    width: 103px;
    height: 36px;
    margin-top: 4px;
    position: relative;
    z-index: 5;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight a.header__button:hover {
    background-color: rgb(171, 175, 175);
    z-index: 6;
}

.ddMenu,
.adaptiveNav,
.closeDDMenu {
    display: none;
}


@media (max-width: 1279px) {
    .header {
        padding:0 78px 0 62px;
    }
    .adaptiveNav,
    .closeDDMenu {
        display: none;
    }


}

@media (max-width: 1023px) {
    .adaptiveNav,
    .closeDDMenu {
        display: none;
    }
}

@media (max-width: 767px) {
    .header .navWrap nav,
    .headerRight  {
        display: none;
    }

    .header {
        margin: 0;
        width: 100%;
        padding:0;
        position: fixed;
        z-index: 100;
    }

    .mainNavContainer {
    }

    .mainNavContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .navWrap {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 60px;
        height: 40px;
        padding-top: 2px;
        padding-right: 24px;
    }


    .adaptiveNav {
        background-color: #fff;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 97;
        display: grid;
        grid-template-areas: "n" "b";
        grid-template-rows: 80% 20%;
        grid-auto-columns: 1fr;
        padding: 80px 25px 25px 25px;
        box-sizing: border-box;
    }

    .adaptiveNav nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .adaptiveNav nav ul {
        width: 100%;
        grid-area: n;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin: 0;
        text-align: center;
        background-color: #fff;
        z-index: 4;
    }

    .adaptiveNav nav ul li{
        margin-bottom: 2vh;
    }

    .adaptiveNav nav ul li a{
        text-decoration: none;
        color: inherit;
        font-weight: 600;
        font-size: 20px;
    }

    .mainNavContent .logo {
        z-index: 98;
        left: 12px;
        margin-top: 2px;
    }


    .ddMenu {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
        z-index: 98;
    }
    .closeDDMenu {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
        z-index: 98;
        width: 18px;
        height: 18px;
        margin-top: 10px;
        margin-right: 2px;
    }

    .ddMenu:active,
    .ddMenu:focus,
    .closeDDMenu:active,
    .closeDDMenu:focus{
        outline: none;
        border: none;
    }

    .navButtonWrap {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .header a.presentation__button {
        width: 100%;
    }

}
